a.icon {
    color: purple;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 1.5em;
}

.about-link {
    color: purple;
    font-weight: normal;
}

.about-txt {
    font-weight: normal;
    color: gray;
}

.article-icon {
    padding-right: 15px;
}

.no-underline {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

#resume_preview {
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    text-align: center;
}