{% if page.home -%}
<!--
    _                ___       _.--.
    \`.|\..----...-'`   `-._.-'_.-'`
    /  ' `         ,       __.--'
   .)/' _/     \   `-_,   /
    `-'" `"\_  ,_.-;_.-\_ ',
        _.-'_./   {_.'   ; /
       {_.-``-'         {_/

        ... meow, meow...

LS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tCjwgSGVsbG8gV29ybGQgPgpUa
GFua3MgZm9yIGNoZWNraW5nIHRoaXMgb3V0IFhEClNlbmQgbWUgYSBwa
WN0dXJlIG9mIHRoaXMgYW5kIEknbGwgZ2V0IHlvdSBhIGNvZmZlZS4gRGVh
bD8KLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tCg==
-->
{% endif -%}
<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    <a class="skip" href="{% if page.home %}#top{% else %}#main{% endif %}">Skip to content</a>

    {% include header.html %}

    <main id="{% if page.home %}top{% else %}main{% endif %}" tabindex="-1">{{ content }}</main>

    {% include footer.html %}

    <script src="/assets/js/app.js" defer></script>
  </body>
</html>
